#content {
	max-width: 1200px;
	margin: auto;
}
#contenu {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.contenu_elt {
	display: flex;
	align-items: center;
	gap: 30px;
}
li img {
	width: 20px;
}

button {
	padding: 10px;
	cursor: pointer;
}
