/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}
body {
	margin: 0;
}
ul{
    list-style-type: none;
    padding: 0;
}
button{
	font-size: 16px;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	/* 5. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

a {
	text-decoration: none;
	color: black;
}

/* End CSS Reset */

* {
	font-family: Arial, Helvetica, sans-serif;
}
.flex {
	display: flex;
	gap: 30px 15px;
}
.flex.vflex {
	flex-direction: column;
	gap: 50px;
}
.flex.vcenter {
	align-items: center;
}
.flex.hspacing {
	justify-content: space-around;
}
.flex.sp-between {
	justify-content: space-between;
}
.flex.hcenter {
	justify-content: center;
}
.flex.flex-col{
    flex-direction: column;
}
input{
    padding: 8px 15px;
    border-radius: 5px;
    border: 2px solid grey;
    font-size: 16px;
}
input:focus {
	border: 2px solid #895e43;
}
a.button {
	padding: 9px 15px;
	border: 1px solid #895e43;
	border-radius: 5px;
	transition: all 0.2s;
	display: inline-block;
}
a.button:hover,
a.button[aria-current="page"],
a.button.active {
	background: #895e43;
	color: white;
}

header {
	background: #fff9f0;
	padding: 10px 0;
}
header img {
	width: 100px;
	height: auto;
}
